[core]
	excludesfile = /Users/mlartz/.gitignore.global
	editor = emacs
	autocrlf = input
[color]
	ui = auto
[alias]
	co = checkout
	g = log --graph --oneline --decorate --all
[apply]
	whitespace = warn
[include]
	path = ~/.gitconfig.private
